{% extends 'Layout/base.html.twig' %}
{% block title %} Criar Redirecionamento {% endblock %}
{% block content %}

<body>
    <main>
        <div class="container d-flex align-items-center" style="min-height: 100vh;">
            <div class="row" style="width: 100%;">
                <div id="result"></div>
                <form hx-post="/store"
                      hx-target="#result"
                      hx-swap="outerHTML"
                      hx-on::after-request="if(event.detail.successful) this.reset()"
                >
                    <input class="form-control" placeholder="Digite o link de destino" id="url" name="url" type="text" hx-sync="closest form:abort">
                    <div class="row" >
                        <div class="col-12 d-flex justify-content-center">
                            <button class="btn btn-success my-2" type="submit">Salvar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <main>
</body>

{% endblock %}