<div class="alert alert-{{ key ? 'success' : 'danger' }}" role="alert">
  {% if key is not null %}
    Redirecionamento criado com sucesso com a chave: {{ key|e }}
  {% else %}
    Erro ao criar redirecionamento
  {% endif %}
</div>