{% extends 'Layout/base.html.twig' %}
{% block title %} Criar Redirecionamento {% endblock %}
{% block content %}

<div class="container">
    <form method="POST" action="">
        <fieldset>
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>

        </fieldset>

    </form>
</div>


{% endblock %}