{% extends 'Layout/base.html.twig' %}
{% block title %} Link Não Encontrado {% endblock %}
{% block content %}
<body>
    <main>
        <div class="container d-flex align-items-center" style="min-height: 100vh;">
            <div class="row w-100">
                <div class="col-12">
                    <h1 class="text-center">404<h1>
                </div>
                <div class="col-12">
                    <h2 class="text-center">Redirecionamento não encontrado<h2>
                </div>
            </div>
        </div>
    <main>
</body>
{% endblock %}